<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Reference_Assembly44">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Reference_Assembly44 urdf file -->
    <xacro:include filename="$(find arm_description)/urdf/Reference_Assembly44.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Reference_Assembly44.ros2_control.xacro" />


    <xacro:Reference_Assembly44_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
